body {
  background: #eac3b4;
}
h1,
h2 {
  color: black;
  border-radius: 20px;
  padding: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p {
  color: #0f172a;
  border: 20px solid #c68d86;
  background-color: #c68d86;
  border-radius: 20px;
  font-family: "Times New Roman", Times, serif;
}
li {
  background-color: #eac3b4;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
div {
  background-color: rgb(200, 108, 203);
  width: 120px;
  color: black;
  border-radius: 40px;
  padding: 15px;
  margin: 60px;
  font-family: "Times New Roman", Times, serif;
}
img {
  width: 300px;
  border-radius: 30px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.cta-btn {
  display: inline-block;
  padding: 14px 28px;
  color: black;
  background-color: #eb91aa;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  border-radius: 20px;
  text-decoration: none;
}
